# Python
__pycache__/
*.py[cod]
.venv/

# Environment
.env

# Testing
.pytest_cache/
.coverage
htmlcov/

# Ruff
.ruff_cache/

# Build
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# ML artifacts
mlflow.db
mlruns/
data/raw/*
data/processed/*
data/features/*
models/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/features/.gitkeep
!models/.gitkeep
